@model movies.client.dbentities.TblCustomer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblCustomer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerNmae)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerNmae)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerOrderedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerOrderedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Customerno">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
